h1 {
  margin-left: 40px;
  font-size: 2rem;
}

ul {
  list-style: none;
  margin-bottom: 30px;
  max-width: 350px;
  font-size: 1.5rem;
}

li {
  border-bottom: 1px solid black;
  padding: 5px;
}

.new-qualification {
  margin-left: 40px;
}

form {
  display: flex;
  align-items: center;
}

input {
  font-size: 1.5rem;
}

button {
  margin: 0 0 0 10px;
  width: 40px;
  height: 30px;
}
