h1 {
  margin-left: 40px;
  font-size: 2rem;
}

.container {
  margin: 15px;
}

svg {
  width: 30px;
  height: 30px;
  fill: #F2921D;
}

svg:hover {
  fill: #F27329;
}

ng-select {
  width: 25%;
  margin-left: 10px;
  margin-right: 10px;
}

ul {
  list-style: none;
  margin-bottom: 30px;
  max-width: 500px;
  font-size: 1.5rem;
}

li {
  border-bottom: 1px solid black;
  padding: 10px;
}

.employee-listing {
  margin-left: 10px;
}

.employee-list-item:hover {
  cursor: pointer;
}

button {
  margin-left: 10px;
}

.btn-primary {
  background-color: #F2921D;
  border-color: #F2921D;
}

.btn-primary:hover{
  background-color: #F27329;
  border-color: #F27329;
}
