<app-navbar (searchChange)="search$.next($event)"></app-navbar>
<h1>All Employees</h1>

<ng-select
  [clearSearchOnAdd]="true"
  [closeOnSelect]="true"
  [formControl]="selection$"
  [items]="qualifications$ | async"
  [multiple]="true"
  [selectableGroup]="false"
  bindLabel="skill"
>
  <ng-template let-index="index" let-item="item" let-item$="item$" ng-option-tmp>
    <input [ngModel]="item$.selected" id="item-{{index}}" type="checkbox"/> {{item}}
  </ng-template>
</ng-select>


<ul>
  <li (click)="displayEmployee(e)" *ngFor="let e of employees$ | async" class="employee-list-item">
    {{e.lastName }}, {{e.firstName}}
  </li>
</ul>

<!-- Just for testing-->
<button (click)="deleteEmployeeEndpoint()" class="test-button" type="button"> Delete</button>
<button (click)="postEmployeeEndpoint()" class="test-button" type="button"> Post</button>
<button (click)="putEmployeeEndpoint()" class="test-button" type="button"> Put</button>
