<div *ngIf="changes()">
  <app-navbar [searchbar]="false" [popups]="true" [yesNo]="true"></app-navbar>
</div>
<div *ngIf="!changes()">
  <app-navbar [searchbar]="false"></app-navbar>
</div>

<div *ngIf="(employee.value)" class="container">
  <h1>Employee: {{(employee.value).firstName}} {{(employee.value).lastName}}</h1>
  <div class="attribute-container">
    <label class="attribute-label">id:</label>
    <p>{{(employee.value).id}}</p>
  </div>
  <form>
    <div class="attribute-container">
      <p class="attribute-label">First name:</p>
      <input name="first-name" [(ngModel)]="(employee.value).firstName">
    </div>
    <div class="attribute-container">
      <p class="attribute-label">Last name:</p>
      <input name="last-name" [(ngModel)]="(employee.value).lastName">
    </div>
    <div class="attribute-container">
      <p class="attribute-label">Street:</p>
      <input name="street" [(ngModel)]="(employee.value).street">
    </div>
    <div class="attribute-container">
      <p class="attribute-label">Postcode:</p>
      <input name="postcode" [(ngModel)]="(employee.value).postcode">
    </div>
    <div class="attribute-container">
      <p class="attribute-label">City:</p>
      <input name="city" [(ngModel)]="(employee.value).city">
    </div>
    <div class="attribute-container">
      <p class="attribute-label">Phone:</p>
      <input name="phone" [(ngModel)]="(employee.value).phone">
    </div>
    <div class="attribute-container">
      <p class="attribute-label">Skill Set:</p>
      <div class="attribute-content">
        <ul class="skill-container" *ngIf="(employee.value).skillSet">
          <li *ngFor="let skill of (employee.value).skillSet">
            <div class="skill-item">
              {{skill}}
              <div class="minus-btn" (click)="deleteSkillFromEmployee(skill)">
                -
              </div>
            </div>
          </li>
        </ul>
        <div class="dropdown-container">
          <p class="dropdown-label">Select</p>
          <select name="dropdown" class="dropdown-dropdown" [(ngModel)]="selectedSkill" (change)="addSkill()">
            <option selected hidden>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
            <option *ngFor="let qualification of qualifications | async">
              {{qualification}}
            </option>
          </select>
        </div>
        <div class="new-qualification-container">
          <p class="new-qualification-label">Create</p>
          <input class="new-qualification-input" name="newSkill" [(ngModel)]="newSkill">
          <button
            type="button"
            class="btn btn-primary"
            (click)="createQualification()">
            Add
          </button>
        </div>
      </div>
    </div>
    <div class="button-container">
      <button
        type="button"
        class="btn btn-primary save-btn"
        (click)="save((employee.value))">
        Save
      </button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="cancel()"
      >
        Cancel
      </button>
      <button *ngIf="employee.value.id"
        type="button"
        class="btn btn-primary"
        (click)="delete()"
      >
        Delete
      </button>
    </div>
  </form>
</div>
