.container {
  margin: 40px;
}

h1 {
  margin-bottom: 40px;
}

ul {
  list-style: none;
}

.attribute-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  font-size: 1.5rem;
}

.attribute-label {
  font-weight: bold;
  width: 250px;
}

.skill-container {
  display: flex;
  flex-direction: column;
}

.skill-item {
  display: flex;
  align-items: center;
  text-align: center;
}

svg {
  width: 20px;
  height: 20px;
  padding-left: 5px;
  fill: #F2921D;
}

svg:hover {
  fill: #F27329;
}

.dropdown-container {
  display: flex;
  align-items: center;
}

.dropdown-label {
  width: 80px;
}

.new-qualification-container {
  display: flex;
  align-items: center;
}

.new-qualification-label {
  width: 80px;
}

.new-qualification-input {
  margin-right: 10px;
}

.button-container {
  margin-top: 10px;
  justify-items: left;
}

.btn-primary {
  background-color: #F2921D;
  border-color: #F2921D;
  margin: 0 2px;
}

.btn-primary:hover {
  background-color: #F27329;
  border-color: #F27329;
}

.btn-delete {
  background-color: #D93E30;
  border-color: #D93E30;
  margin: 0 10px;
}

.btn-delete:hover {
  background-color: #8C2727;
  border-color: #8C2727;
}
